before_install:
  - sudo apt-get update -qq
  - wget http://downloads.sourceforge.net/p7zip/p7zip_16.02_src_all.tar.bz2
  - tar -xjvf p7zip_16.02_src_all.tar.bz2
  - cd p7zip_16.02/
  - make all3
  - sudo make DEST_HOME=/usr \ DEST_MAN=/usr/share/man \ DEST_SHARE_DOC=/usr/share/doc/p7zip-16.02 install
language: node_js
node_js:
  - '6.5'
before_script: 'npm install'
script: 'npm run coverage'
after_script: 'npm run coveralls'
